

.bakgrunn{
	background-color:  #152937;
	padding-top: 5%;
}
.nokkelkvalifikasjoner{
	font-size: 16px;
}
.mmi{
	background-color: #0e1c25;
	padding: 2%;
	color: white;
}
.informasjonsarkitektur{
	background-color: #152a37;
	padding: 2%;
	color: white;
}
.uikt{
	background-color: #1c384a;
	padding: 2%;
}

.header{
	
	background: url("ux.png");
  	background-size: cover;
	max-width: 100vw; 
  	height: 800px;
  	padding: 50px;
  	margin: 0 auto;

}

.headerOverskrift{
	font-size: 60px;


}
.headerContainer{
	padding: 20px;
	border-style: groove;
	background-color:#152737 ;
	color: white;
	max-width: 60%;
	font-family:  "Lucida Handwriting";

}
.prototyping{

	background-color: #23465c;
	padding: 2%;
	color: white;
}
a{
	font-size: 16px;
}
a:hover{
	color: #ccefff;
}
li{
	font-size: 16px;
}
